/*Author: Clarissa Mercado
Quiz 15 Calculator Program*/
* {
    font-family: "Consolas", monospace;
    color: #1f262a;
}

body {
    background-color: #3fb399;
}

.container {
    width: 480px;
    background-color: white;
    margin: 120px auto;
}

button {
    border: none;
    width: 100%;
    height: 60px;
    font-size: 24px;
    background-color: white;
    
}

table {
    width: 100%;
    border: 1px solid;
    color: #333333;

}

td {
    width: 25%;
   
}



#calculatorInput {
    height: 120px;
    font-size: 40px;
    vertical-align: bottom;
    text-align: right;
    padding-right: 16px;
    background-color: #ececec;
}